{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base",
    "plugin:prettier/recommended",
    "prettier/vue"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
